.signup__container{
    display: flex;
    flex-direction: column;
    
    height: 90vh;
    width:  50vh;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
   
    border-bottom: 1px solid var(--border);
}



.signup__container-header{
    display: flex;
   align-items: center;
   justify-content: center;
   

    div{
       
        width: 5vh;
        height: 5vh;
       padding: 5px;
        img{
            width: 100%;
            height: 100%;
           }

    }


   p{
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
   
    span{
        color:var(--secondary-color);
        
    }
   }

}


.signup__container-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        color:var(--secondary-color);
    }
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

     
        

        input{
            width: 30vh;
            height: 5vh;
            margin: 15px;
            border-radius: 7px;
            border: 1px solid var( --border);
   

        }

        
            div{
                position:relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
 
                div{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                 
                    top: 3.1vh;
                    left: 27vh;
                    right: 0;
                    margin: 0 auto;
                    width: 30px;
                    height: 30px;
                    
                }
            }

            select{
                width: 30vh;
                height: 5vh;
                margin: 15px;
                border-radius: 20px;
                border: 1px solid var( --border);
                font-weight:900;
                color: var( --secondary-color);
                padding: 7px;
               
            }

        .signup__form-selectcontry{
                position:relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                select{
                    width: 30vh;
                    height: 5vh;
                    margin: 15px;
                    border-radius: 20px;
                    border: 1px solid var( --border);
                    padding-left: 30px;
                    font-weight:900;
                    color: var( --secondary-color);
                    cursor: pointer; 

                    option{
                        padding-left: 30px;
                        font-weight:900;  
                        padding: 8px;
                        cursor: pointer; 
                    }
                }

                div{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                 
                    top: 2.7vh;
                    left: 0;
                    right: 25vh;
                    margin: 0 auto;
                    width: 30px;
                    height: 30px;
                    color:var( --secondary-color);
            
             
                }
        }


            .signup__form-cehckbox{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 4vh;
         
                width: 30vh;
                height: 5vh;
                
                input{
                    width: 10%;
                    height:39%;
                    border: 2px solid var( --secondary-color);
                    background-color: white;
                    border-radius: 50%;
                    appearance: none;
                    cursor: pointer;
                    
                }
                p{
                    font-weight: 600;
                    font-size: 1.5vh;       
                    a{
                        color:var(--secondary-color) ;
                        }
                }
            }


           button{
            width: 30vh;
            height: 5vh;
            margin: 15px;
            border-radius: 30px;
            background-color: var(--primary-color);
            color: aliceblue;
            font-size: 2.2vh;
            border: none ;

            &:hover{
                transition: all 0.3s ease;
                background-color: var(--secondary-color);
            }
           }
        
    }
}


.signup__container-footer{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}
