body {
  background: #f4f4fb ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color:rgba(172, 154, 231, 0.8);
  --secondary-color:  #6e4cd6;
  --border:rgba(156, 156, 156, 0.8);
  

}
